@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@700&display=swap');


.root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.close {
    display: none;
}

.left {
    width: 25vw;
    padding: 18px;

}

.right {
    width: 75vw;

}

.home {
    padding: 13px
}

.home ul li {
    display: flex;
    width: 14px;
    padding-top: 15px;
    gap: 10px;
    font-weight: bold;
}

p-1 {
    padding: 10px;
}

.heading {
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding: 23px 14px;
    gap: 15px;
    font-weight: bold;
    font-size: 13px;

}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0%;
    padding: 8px;
}

.footer a {
    display: flex;
    color: grey;

}

.right {
    margin: 18px -12px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 80px;
}

.header>* {
    padding: 20px;

}

.SpotifyPlaylists {
    padding: 15px;
}

.SpotifyPlaylists h1 {
    padding: 16px;
}

.cardcontainer {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 50vh;
    overflow-y: auto;

}

.SpotifyPlaylists .card {
    width: 190px;
    background-color: rgb(59, 58, 58);
    border-radius: 5px;
    padding: 10px;

}

.card {
    position: relative;
    width: 90vw;
    transition: all .5s;
}

.card:hover {
    background-color: #515050;
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    right: 15px;
    top: 150px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.play:hover {
    opacity: 1;
}

.buttons {
    display: flex;
    gap: 23px;
}

.button *> {
    padding: 0 12px;
}

.signupbtn {
    background-color: #222222;
    color: rgb(170, 168, 168);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.signupbtn:hover {
    background-color: #222222;
    font-size: 17px;
    color: white;

}

.loginupbtn {
    background-color: white;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 98px;
    cursor: pointer;
    font-size: 16px;
}

.loginupbtn:hover {
    background-color: rgb(228, 218, 218);
    font-size: 17px;
    font-weight: bold;
}



.playbar {
    position: fixed;
    bottom: 20px;
    background-color: rgb(177 177 177);
    margin: 26px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    width: 70vw;
    border-radius: 10px;
    min-height: 24px;
    filter: invert(1);
}

.songinfo {
    width: 300px;
    color: black;
    font-size: 20px;

}

.songinfo,
.songtime {
    border-color: black;
    font-size: 30px;
    padding: 0 12px;
    color: black;
    font-weight: bold;
}

.songtime {
    width: 125px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

.songbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

}

.songList {
    height: 344px;
    overflow-y: scroll;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 3px 0;
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
}

.songList .info {
    font-size: 18px;
    width: 344px;
}

.ingo div {
    word-break: break-all;
}

.hi {
    width: 24px;
}

.playnow {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 15px;

}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.seekbar {
    height: 4px;
    width: 95%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;

}

.circle {
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 14px;
    position: relative;
    bottom: 7px;
    left: 0;
    transition: left o.5s;
}

.songbutton img {
    cursor: pointer;
}

@media (max-width:1600px) {
    .left {
        background-color: black;
        position: absolute;
        left: -110%;
        transition: all 0.5s;
        z-index: 1;
        width: 325px;
        padding: 0;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100%;
    }

    .playbar {
        width: calc(100vw - 110px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 100vw;
    }

    .cardcontainer {
        margin: 0;
    }

    .SpotifyPlaylists .card {
        width: 400px;
        height: 470px;
    }

    .cardcontainer {
        margin: -10px;
        padding: 25px;
        justify-content: center;

    }

    .close {
        display: block;
    }

    .abovebar {
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo,
    .songtime {
        font-size: 20px;
        width: auto;
    }


}    

   
   

@media (max-width:400px) {
    .card {
        width: 44px;
    }
}

